<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144385187070-i462pjve5if8inlb07l3jmisvl69nu55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144385187070-i462pjve5if8inlb07l3jmisvl69nu55</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144385187070-goaerqu0qkelb6ovehsj849laioi2eid.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMuvsfbo6WAucxc-gdEkExU3Ezwi8t_9A</string>
	<key>GCM_SENDER_ID</key>
	<string>144385187070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spinzy</string>
	<key>PROJECT_ID</key>
	<string>spinzy-dc037</string>
	<key>STORAGE_BUCKET</key>
	<string>spinzy-dc037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144385187070:ios:9edbf71f9349af359519af</string>
</dict>
</plist>